.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-primary-black);
    //position: static;

    &__element{
        float: right;
        //display: inline-block;
        color: var(--color-primary-yellow);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
}

.signupModal {
    background-color: var(--color-grey-light-1);
    
    position:absolute;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    left: 50%;
    top: 50%;
    // transform: translateX(-80%);
    transform: translate(-50%, -50%);
}

.left-panel {
    left: 0;
    width: 20%;
    background-color: var(--color-grey-dark-1);
    height: 100%;
    //position: sticky;
}

.category{

    &__elements {
        color: var(--color-grey-light-1);
    }
}