body {
  font-family: Arial, 'Open Sans', sans-serif;
  background-image: url("../images/tumblr_n20nsebk6j1tu022ro1_1280.png"), linear-gradient(var(--color-primary-yellow), var(--color-primary-yellow)); }

main {
  display: grid;
  grid-template-areas: 'header header header header' 'left-panel home home home' 'left-panel home home home';
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  gap: 0px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

:root {
  --color-primary-yellow: #D6D297;
  --color-primary-black: #111111;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

li {
  list-style: none;
  cursor: pointer; }

.pointer {
  cursor: pointer; }

.close {
  position: absolute;
  right: 20px;
  top: 20px; }

.img {
  height: 100px;
  width: 150px; }

.productList {
  padding: 30px 0 0 30px; }

.header {
  grid-area: header; }

.navbar {
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-primary-black);
  position: fixed; }
  .navbar__element {
    float: right;
    color: var(--color-primary-yellow);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }

.home {
  grid-area: home;
  background-color: var(--color-grey-light-1); }

.signupModal {
  background-color: var(--color-grey-light-1);
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 7px var(--color-grey-dark-3); }

.left-panel {
  grid-area: left-panel;
  background-color: var(--color-grey-dark-1);
  height: 100%; }

.category__elements {
  color: var(--color-grey-light-1); }

.productModal {
  background-color: var(--color-grey-light-1);
  width: 300px;
  position: absolute;
  height: fit-content;
  padding: 50px;
  left: 65%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 7px var(--color-grey-dark-3); }
