<!DOCTYPE html>
    <head>
        <link rel="shortcut icon" href="images/favicon.ico" />
        <title>reset password</title>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="crypto-js.min.js"></script>
        <script type="text/javascript" src="aes.min.js"></script>
        <script type="text/javascript" src="enc-base64.min.js"></script>
        <script type="application/javascript" src="md5.js"></script>
    </head>
    <body ng-app="resetPwdApp" ng-controller="resetPwdController">
        <div>
            <form action="updatePassword(changePWD, changePWD)">
                <label for="changePWD">Enter new password:</label>
                <input type="password" id="changePWD" name="changePWD" ng-model="changePWD" ng-pattern="validatePassword"/><br/><br/>
                <label for="changePWD2">Re-enter password:</label><br/>
                <input type="password" id="changePWD2" name="changePWD2" ng-model="changePWD2" ng-pattern="validatePassword"/><br/><br/>
                <button value="submit">Reset Password</button>
            </form>
        </div>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="css/solid.min.css">
        <link rel="stylesheet" href="css/brands.min.css">
        <script type="application/javascript" src="smartController.js"></script>
        <script type="application/javascript" src="smartServices.js"></script>
        <script type="application/javascript" src="reserPwdController.js"></script>
        <script type="application/javascript" src="login.js"></script>
        <script type="application/javascript" src="vanilla.js"></script>
        <script type="application/javascript" src="signup.js"></script>
        <script type="application/javascript" src="header.js"></script>
        <script type="application/javascript" src="product.js"></script>
        <script type="application/javascript" src="home.js"></script>
        <script type="application/javascript" src="googlemap.js"></script>
    </body>
</html>